<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.alexandr1anov.LexiGrow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.alexandr1anov.LexiGrow</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.alexandr1anov.LexiGrow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lexigrow</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_API_KEY</key>
	<string>$(SUPABASE_API_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>https://qltfnllrychdmxoxybkl.supabase.co</string>
</dict>
</plist>
