//
//  Secrets.xcconfig
//  LexiGrow
//
//  Created by Alexander Andrianov on 15.08.2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsdGZubGxyeWNoZG14b3h5YmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE3NTQ1MzEsImV4cCI6MjA2NzMzMDUzMX0.jvzfMlyWAhO2L2jkp3ubFeHRWFRXaqwCererSLp_M7k
